<!-- login.component.html -->
<section class="global">
  <h3 class="global__h3">Formulario Administrador</h3>
  <form
    class="global__form"
    [formGroup]="formGroup"
    (ngSubmit)="submitForm($event)"
  >
    <div class="global__container--global">
      <div class="global__container">
        <label for="name" class="global__label">Usuario</label>
        <input id="name" type="text" pInputText formControlName="name" />
      </div>
      <div class="global__container">
        <label for="password" class="global__label">Contraseña</label>
        <p-password
          id="password"
          formControlName="password"
          [feedback]="false"
        ></p-password>
      </div>
    </div>
    <button type="submit" class="global__button">Login</button>
  </form>

  <!-- Este router-outlet es necesario para mostrar las rutas hijas -->
  <router-outlet></router-outlet>
</section>
