@use "../../../../scss/variables" as v;
@use "../../../../scss/mixings" as m;

.header {
  // background-color: red;
  padding: 1rem;
  &__container {
    border-bottom: solid 0.4rem v.$colorPrincipal;
    margin-bottom: 1rem;
  }
  &__h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }
  &__nav {
  }
  &__ul {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: solid 1px v.$colorSeparador;
    padding-bottom: 1rem;
    @include m.movilNormal {
      gap: 1rem;
    }
  }
  &__li {
    font-size: 0.8rem;
    cursor: pointer;
  }
}
