<header class="header wrapper">
  <div
    class="header__container"
    *ngFor="let img of new"
    [style.backgroundImage]="'url(' + img.imagenUrl + ')'"
  >
    <h1 class="header__h1">Puerto real noticias</h1>
    <!-- <img

      [src]="img.imagenUrl"
      [alt]="img.titulo"
      class="header__img"
    /> -->
  </div>
  <nav class="header__nav">
    <ul class="header__ul">
      <li
        class="header__li"
        *ngFor="let element of navBarElements"
        (click)="navigate(element.url)"
      >
        {{ element.title | titlecase }}
      </li>
    </ul>
  </nav>
</header>
