@use "../../../../scss/variables" as v;
@use "../../../../scss/mixings" as m;

.header {
  // background-color: red;
  padding: 1rem;
  &__container {
    margin-bottom: 1rem;
    background-position: center;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    border-radius: 0.3rem;
    @include m.movilGrande {
      height: 20rem;
    }
  }
  &__h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: white;
    @include m.movilNormal {
      font-size: 3.5rem;
    }
  }

  &__ul {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: solid 1px v.$colorPrincipal;
    padding-bottom: 1rem;
    @include m.movilNormal {
      gap: 1rem;
    }
  }
  &__img {
    height: 20rem;
  }
  &__li {
    font-size: 0.8rem;
    cursor: pointer;
  }
}
.wrapper {
  margin: auto;
  width: 100%;
  max-width: 1350px;
}
