@use "../../../../scss/variables" as v;
@use "../../../../scss/mixings" as m;
.eventos {
  padding: 1rem;
  // height: 100vh;
  &__global {
  }
  &__h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    border-bottom: solid 3px v.$colorPrincipal;
  }
  &__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    @include m.tablet {
      flex-flow: row wrap;
      justify-content: space-around;
    }
  }
  &__cards {
    border-radius: 0.3rem;
    position: relative;
    width: 100%;
    max-width: 22rem;
    // height: 22rem;
    cursor: pointer;
    @include m.portatil {
      width: 22rem;
      height: 22rem;
      &:hover &--container {
        height: 10.5rem;
        transition: all 0.5s ease;
        // background-color: red;
      }
    }
  }
  &__cards--img {
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    height: 22rem;
  }
  &__cards--container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    @include m.portatil {
      position: absolute;
      bottom: 0rem;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.686);
      text-align: center;
      border-radius: 0.3rem;
      height: 9rem;
      padding-top: 0.5rem;
      transition: all 0.5s ease;
    }
  }
  &__fecha {
    @include m.portatil {
      color: white;
      font-size: 0.9rem;
    }
  }
  &__title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    @include m.portatil {
      color: white;
    }
  }
  &__descripcion {
    font-size: 1.1rem;

    @include m.portatil {
      color: white;
    }
  }
}
.wrapper {
  margin: auto;
  width: 100%;
  max-width: 1500px;
}
