<ng-container *ngIf="eventos.length > 0">
  <section class="eventos wrapper">
    <div class="eventos__global">
      <h2 class="eventos__h2">Eventos Puerto Real</h2>
      <div class="eventos__container">
        <div
          class="eventos__cards"
          *ngFor="let eventos of eventos"
          (click)="navgegateToEvento(eventos._id)"
        >
          <img
            [src]="eventos.imagenUrl"
            [alt]="eventos.titulo"
            class="eventos__cards--img"
          />
          <div class="eventos__cards--container">
            <h2 class="eventos__title">{{ eventos.titulo }}</h2>
            <p class="eventos__descripcion">{{ eventos.descripcion }}</p>
            <span class="eventos__fecha"> {{ eventos.fecha_acto }} </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<ng-container *ngIf="eventos.length <= 0">
  <p-progressSpinner ariaLabel="loading" />
</ng-container>
