<div class="ad">
  <a class="ad__container" href="https://amzn.to/3W7HUiC" target="_blank">
    <span href="" class="ad__span">Anuncio de amazon</span>
    <img
      src="../../../../assets/anunciosAmazon.png"
      alt="Anuncio de amazon"
      class="ad__image"
    />
  </a>
  <a class="ad__container" href="https://amzn.to/3W7HUiC" target="_blank">
    <span href="" class="ad__span">Anuncio de amazon</span>
    <img
      src="../../../../assets/anunciosAmazon.png"
      alt="Anuncio de amazon"
      class="ad__image"
    />
  </a>
</div>
