@use "../../../../scss/variables" as v;
@use "../../../../scss/mixings" as m;

.categoria {
  &__local--span {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    display: block;
    border-bottom: solid 4px v.$colorPrincipal;
  }
  &__flex {
    display: flex;
    flex-flow: column nowrap;
    // gap: 1rem;
  }

  &__h2 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  &__h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  &__span--light {
    font-weight: lighter;
    font-size: 0.8rem;
  }
  &__img {
    border-radius: 0.3rem;
    aspect-ratio: 16/9;
    height: 30rem;
  }
  &__span--small {
    font-weight: bold;
    font-size: 0.8rem;
    color: black;
  }
  &__redaccion {
    font-size: 0.8rem;
    color: v.$colorSecundario;
  }
  &__container {
    display: flex;
    gap: 0.5rem;
    flex-flow: column nowrap;
    //
    margin-bottom: 2rem;
    cursor: pointer;
  }
  &__h4 {
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
  }
  &__h5 {
    font-size: 0.8rem;
    color: v.$colorSecundario;
    text-align: center;
  }
  &__grid {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-around;
  }
  &__subnoticias--card {
    display: flex;
    flex-flow: column nowrap;
    align-items: self-start;
    gap: 1rem;
    cursor: pointer;
    width: 100%;
    max-width: 20rem;
  }
  &__grid--img {
    width: 100%;
    max-width: 20rem;
    border-radius: 0.3rem;
    aspect-ratio: 16/9;
    @include m.portatil {
      max-width: 25rem;
    }
  }
  &__grid--titles {
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
  }
  &__grid--subtitles {
    font-size: 1rem;
    color: v.$colorSecundario;
    text-align: center;
  }
  &__grid--span {
    font-size: 0.9rem;
    color: v.$colorSecundario;
  }
  &__local--text {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    align-items: center;
  }
}
