<ng-container
  class="categoria"
  *ngIf="primeraNoticia && exceptoUltimasNoticias"
>
  <article class="categoria__local">
    <div class="categoria__local--principal">
      <span class="categoria__local--span">
        {{ categoria | uppercase }}
      </span>
      <div class="categoria__flex">
        <div
          class="categoria__container"
          (click)="navigateNoticia(primeraNoticia._id)"
        >
          <img
            [src]="primeraNoticia.imagenUrl"
            [alt]="primeraNoticia.titulo"
            loading="lazy"
            class="categoria__img"
          />
          <h2 class="categoria__h2">{{ primeraNoticia.titulo }}</h2>
          <h3 class="categoria__h3">{{ primeraNoticia.subtitulo }}</h3>
          <span class="categoria__grid--span" *ngIf="primeraNoticia">
            {{ formatearFecha(primeraNoticia.fecha_publicacion) }}
          </span>
        </div>
        <div class="categoria__grid">
          <div
            class="categoria__subnoticias--card"
            *ngFor="let subNoticias of exceptoUltimasNoticias"
            (click)="navigateNoticia(subNoticias?._id)"
          >
            <img
              [src]="subNoticias.imagenUrl"
              loading="lazy"
              [alt]="subNoticias.titulo"
              class="categoria__grid--img"
            />

            <div class="categoria__local--text">
              <h4 class="categoria__grid--titles">{{ subNoticias.titulo }}</h4>
              <h5 class="categoria__grid--subtitles">
                {{ subNoticias.subtitulo }}
              </h5>
              <span class="categoria__grid--span">
                {{ formatearFecha(subNoticias.fecha_publicacion) }}
              </span>
            </div>
          </div>
        </div>
        <ng-container *ngIf="primeraNoticia && exceptoUltimasNoticias">
          <article class="noticias__general">
            <!-- Otros códigos -->
            <app-anuncios-amazon [grupo]="1"></app-anuncios-amazon>
          </article>
        </ng-container>
      </div>
    </div>
  </article>
</ng-container>
<ng-container *ngIf="!noticiasExceptoUltima && !primeraNoticia">
  <p-progressSpinner ariaLabel="loading" />
</ng-container>
