<section class="noticias">
  <article class="noticias__general">
    <span class="noticias__category">{{ categoria | uppercase }}</span>
    <div class="noticias__card">
      <div
        class="noticias__container"
        (click)="navigateNoticia(primeraNoticia?._id)"
      >
        <img
          [src]="primeraNoticia?.imagenUrl"
          [alt]="primeraNoticia?.titulo"
          loading="lazy"
          class="noticias__img--principal"
        />
        <h2 class="noticias__titular--principal">
          {{ primeraNoticia?.titulo }}
        </h2>
        <h3 class="noticias__subtitular--principal">
          {{ primeraNoticia?.subtitulo }}
        </h3>
        <span class="noticias__fecha" *ngIf="primeraNoticia">
          {{ formatearFecha(primeraNoticia.fecha_publicacion) }}
        </span>
      </div>
      <div class="noticias__subcontainer">
        <div
          class="noticias__card--smalls"
          *ngFor="let subNotice of exceptoUltimasNoticias"
          (click)="navigateNoticia(subNotice._id)"
        >
          <img
            [src]="subNotice?.imagenUrl"
            [alt]="subNotice?.titulo"
            loading="lazy"
            class="noticias__img--subprincipal"
          />
          <div class="noticias__card--text">
            <h4 class="noticias__titular--small">{{ subNotice?.titulo }}</h4>
            <h5 class="noticias__titular--h5">{{ subNotice?.subtitulo }}</h5>

            <span class="noticias__fecha">
              {{ formatearFecha(subNotice.fecha_publicacion) }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
