<section>
  <article>
    <span class="carrusel__category"> {{ categoriaShow | uppercase }} </span>
    <p-carousel
      [value]="news"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="false"
    >
      <ng-template let-new pTemplate="item">
        <div class="carrusel">
          <div class="mb-3 card" (click)="navigateNoticia(new._id)">
            <img
              [src]="new.imagenUrl"
              [alt]="new.titulo"
              loading="lazy"
              class="w-6 shadow-2 img--carrusel"
            />
            <div class="carrusel--absolute">
              <h3 class="mt-0 mb-3 carrusel__text--titular">
                {{ new.titulo }}
              </h3>
              <h4 class="carrusel__text--subtitular">
                {{ new.subtitulo }}
              </h4>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </article>
</section>
