@use "../../../../scss/variables" as v;
@use "../../../../scss/mixings" as m;

.img--carrusel {
  height: 22rem;
  border-radius: 0.3rem;
  object-fit: cover;
  width: 100%;
  @include m.tabletM {
    height: 24rem;
  }
}
.carrusel {
  position: relative;
  &__category {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    display: block;
    border-bottom: solid 4px v.$colorPrincipal;
  }
  &--absolute {
    position: absolute;
    bottom: 0;
    z-index: 10;
    text-align: center;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.257);
    width: 100%;
    border-radius: 0.3rem;
  }
  &__text--small {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
    font-weight: bold;
  }
  &__text--titular {
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
}
