<section class="noticia wrapper">
  <article class="noticia__global">
    <div class="noticia__container">
      <span class="noticia__span--categoria">
        {{ noticiaSeleccionada?.categoria }}
      </span>
      <h3 class="noticia__h3--titular">{{ noticiaSeleccionada?.titulo }}</h3>
      <h4 class="noticia__subtitulo">{{ noticiaSeleccionada?.subtitulo }}</h4>
      <div class="noticia__subcontainer">
        <img
          [src]="noticiaSeleccionada?.imagenUrl"
          [alt]="noticiaSeleccionada?.titulo"
          class="noticia__img--titular"
        />
        <p class="noticia__parrafo">{{ noticiaSeleccionada?.contenido }}</p>
      </div>
      <!-- <div class="noticia__grid">
        <div class="noticia__grid--card" *ngFor="let img of noticia.galeria">
          <img
            [src]="img.img"
            [alt]="noticia.titular"
            class="noticia__galeria--img"
          />
        </div>
      </div> -->
    </div>
  </article>
  <article class="noticia__relacionada--container">
    <span class="noticia__relacionada--span"> Árticulos relacionados </span>
    <div class="noticia__relacionada--grid">
      <div
        class="noticia__relacionada--card"
        *ngFor="let noticia of articulosRelacionados"
      >
        <img
          [src]="noticia.img"
          [alt]="noticia.titular"
          class="noticia__relacionada--img"
        />
        <div class="noticia__relacionada--text">
          <span class="noticia__relacionada--categoria">{{
            noticia.categoria
          }}</span>
          <h4 class="noticia__relacionada--titular">{{ noticia.titular }}</h4>
        </div>
      </div>
    </div>
  </article>
</section>
