<section class="noticias">
  <article class="noticias__general">
    <span class="noticias__category">{{ categoria | uppercase }}</span>

    <div class="noticias__grid">
      <div class="noticias__card" *ngFor="let notice of noticias">
        <img
          [src]="notice.imagenUrl"
          [alt]="notice.titulo"
          loading="lazy"
          class="noticias__img"
        />
        <div class="noticias__container">
          <span class="noticias__category--small">
            {{ notice.categoria }}
          </span>
          <p class="noticias__titular">{{ notice.titulo }}</p>
          <p class="noticias__titular">{{ notice.subtitulo }}</p>
        </div>
      </div>
    </div>
  </article>
</section>
