@use "../../../../scss/variables" as v;

.footer {
  &__h2 {
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: solid 6px v.$colorPrincipal;
    text-align: center;
    width: 100%;
    max-width: 22rem;
    font-weight: bolder;
    margin: auto;
    margin-bottom: 1rem;
  }
  &__global {
    background-color: v.$colorGrisaceo;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
  &__ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-content: center;
  }
  &__title {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  &__links {
    color: v.$colorPrincipal;
  }
  &__logo {
    width: 100%;
    max-width: 10rem;
    display: block;
  }
  &__ul--second {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}
.pi {
  font-size: 1.6rem;
  cursor: pointer;
}
