<form [formGroup]="adForm" (ngSubmit)="submitForm()">
  <div>
    <label for="url">URL del Anuncio:</label>
    <input id="url" formControlName="url" type="text" />
    <div *ngIf="adForm.get('url')?.invalid && adForm.get('url')?.touched">
      <small *ngIf="adForm.get('url')?.errors?.['pattern']">
        La URL no es válida.
      </small>
    </div>
  </div>

  <div>
    <label for="image">Imagen del Anuncio:</label>
    <input id="image" type="file" (change)="onFileChange($event)" />
    <div *ngIf="adForm.get('image')?.invalid && adForm.get('image')?.touched">
      <small *ngIf="adForm.get('image')?.errors?.['required']">
        La imagen es obligatoria.
      </small>
    </div>
  </div>

  <button type="submit" [disabled]="adForm.invalid">Añadir Anuncio</button>
</form>
