<ng-container class="home" *ngIf="noticiaDestacada && nuevasNoticias">
  <article class="home__article--news">
    <span class="home__last--span"> {{ spanLastNews | uppercase }} </span>

    <div class="home__flex--global">
      <div
        class="home__news--destacado"
        (click)="navigateNoticia(noticiaDestacada._id)"
      >
        <img
          [src]="noticiaDestacada.imagenUrl"
          [alt]="noticiaDestacada.titulo"
          class="home__img--destacado"
        />
        <div class="home__news--container home__news--containerdestacado">
          <span class="home__news--category">
            {{ noticiaDestacada.categoria }}
          </span>
          <h2 class="home__news--title">{{ noticiaDestacada.titulo }}</h2>
          <h3 class="home__news--subtitulo">
            {{ noticiaDestacada.subtitulo }}
          </h3>
          <span class="home__news--fecha">
            {{ formatearFecha(noticiaDestacada!.fecha_publicacion) }}
          </span>
        </div>
      </div>
      <div class="home__flex">
        <div
          class="home__news"
          *ngFor="let new of nuevasNoticias"
          (click)="navigateNoticia(new._id)"
        >
          <img
            [src]="new.imagenUrl"
            loading="lazy"
            [alt]="new.titulo"
            class="home__news--img"
          />
          <div class="home__news--container">
            <span class="home__news--category">
              {{ new?.categoria }}
            </span>
            <h2 class="home__news--title">{{ new.titulo }}</h2>
            <h3 class="home__news--subtitulo">{{ new.subtitulo }}</h3>
            <span class="home__news--fecha">
              {{ formatearFecha(new.fecha_publicacion) }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </article>
</ng-container>
<ng-container *ngIf="!noticiaDestacada && !nuevasNoticias">
  <p-progressSpinner ariaLabel="loading" />
</ng-container>
