@use "../../../../scss/variables" as v;
@use "../../../../scss/mixings" as m;

.home {
  padding: 1rem;
}
.wrapper {
  margin: auto;
  width: 100%;
  max-width: 1500px;
}

.categoria {
  padding: 1rem;
  &--flex {
    margin-bottom: 0.5rem;
    @include m.ordenador {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }
  }
}
.ad {
  /* Estilos para los anuncios */
  margin: 10px 0;
}
.ad__container {
  text-decoration: none;
}
.ad__span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.ad__image {
  width: 100%;
  height: auto;
}
