<section class="home wrapper">
  <app-ultimas-noticias></app-ultimas-noticias>
  <app-anuncios-amazon [anuncios]="anunciosSeccion1"></app-anuncios-amazon>
</section>
<section class="categoria wrapper">
  <app-local></app-local>
  <app-politica></app-politica>
  <div>
    <div class="categoria--flex">
      <app-deportes></app-deportes>
      <app-cultura></app-cultura>
    </div>
  </div>
  <app-medio-ambiente></app-medio-ambiente>
  <app-anuncios-amazon [anuncios]="anunciosSeccion2"></app-anuncios-amazon>
</section>
