@use "../../../../scss/variables" as v;
@use "../../../../scss/mixings" as m;

.home {
  padding: 1rem;
}
.wrapper {
  margin: auto;
  width: 100%;
  max-width: 1500px;
}

.categoria {
  padding: 1rem;
  &--flex {
    @include m.tablet {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
    }
  }
}
